@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* loader */
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #646ee4 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
/* loader */

.scroll-table {
  --sb-track-color: #232e33;
  --sb-thumb-color: #7480ff;
  --sb-size: 10px;
}

.scroll-table::-webkit-scrollbar {
  width: var(--sb-size);
}

.scroll-table::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

.scroll-table::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-table {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
